{% extends "pages/base" %}

{% block title %}Login{% endblock title %}
{% block body %}
<div class="w-full h-full">
    <form action="/login" method="post" class="mx-auto my-auto">
        <div>
            <div>
                {{ self::input(id="username", name="username", title="Username") }}
                {% if user_not_found %}
                <p>the requested user was not found</p>
                {% else %}
                <p> </p>
                {% endif %}
            </div>
            <div>
                {{ self::input(id="password", name="password", title="Password", type="password") }}
                {% if invalid_password %}
                <p>the provided password was invalid</p>
                {% else %}
                <p> </p>
                {% endif %}
            </div>
        </div>
        <button type="submit">Login</button>
    </form>
</div>
{% endblock body %}

{% macro input(id, name, title, type="text") %}
<div>
    <div>
        <label for="{{id}}">{{title}}</label>
    </div>
    <div>
        <input id="{{id}}" type="{{type}}" name="{{name}}"/>
    </div>
</div>
{% endmacro input %}
